#game-window {
  display: none;
  width: 100%;
}

#game {
  overflow: hidden;
  margin: 2vw 1vw 2vw 1vw;
  width: 100%;
  max-width: auto;
  position: relative;
}
.map {
  display: table;
  clear: both;
}
.map :hover {
  border: 1px solid black;
}

.block {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 6vmin;
  height: 6vmin;
  position: relative;
  float: left;
}

.ActiveTool {
  border: 3px solid rgba(121, 181, 30, 0.757);
}
#box video{
  width: 4vmin;
  height: 5vmin;
  background-color: blueviolet;
}

@media (max-width: 1189px) {
  #game-window {
    /* display: none; */
    flex-direction: column;
  }
  #BarSide-Tools ul {
    display: none;
    flex-direction: row;
  }
  .block {
    flex: content;
    width: 5vmin;
    height: 5vmin;
    overflow-y: scroll;
  }
  .map {
    flex: content;
    white-space: nowrap;
    height: 100%;
  }
}
