#game-window{
    display: none;
    width: 100%;
    height: 100%;
}
#BarSide-Tools{
    opacity: 1;
    width: 250px;
    height: fit-content;
    margin-top: 60px;
}
#BarSide-Tools ul {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 23px;
}
#BarSide-Tools img{
    border-radius: 12px;
    width: 120px;
    height: 120px;
    background-color: white;
    cursor: pointer;
}

#BarSide-Tools video {
    cursor: pointer;
    height: 120px;
}

#game{
    overflow: hidden;
    display: flex;
    margin: 40px 31px;
    width: 100%;
    height: 62%;
    
}
.map{
    background-color: rgba(13, 150, 248, 0.799);
    width: 100%;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-self: start;
}

.block{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 8vmin;
    height: 8vmin;
}

.ActiveTool{
    border: 3px solid rgba(121, 181, 30, 0.757);
}

#BarSide-Tools .icon-hover-fill{
    background-color: transparent;
    width: 50px;
    height: 50px;
}
#BarSide-Tools .icon-hover-fill:hover{
    background-color: white;
    transition: 0.64s;
    transform: translateY(2px);
}
