#home-land-video{
    display: flex;
    justify-content: center;
    position: relative;
}
#home-land-video video {
    width: 100%;
    height: 100%;
}

.Menu{
    display: none;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top: 100px;
    align-items: center;
}
.Menu img{
    width: 890px;
    height: 260px;
}
.Menu ul{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.Menu ul li{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 500px;
    height: auto;
    font-weight: 400;
    font-size: 30px;
    color: whitesmoke;
    cursor: pointer;

}
.Menu ul li:hover , #icon:hover{
    color: rgb(155, 65, 65);
    transition: 0.5s;
    transform:translateX(-10px);
}

#icon{
    cursor: pointer;
    background-color:whitesmoke;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 5px;
    left: 2rem;
    border-radius: 12px;
    opacity: 0.4;
}
#icon:hover{
    opacity: 0.8;
    transform:translateY(-10px);
}
