#loading-screen{
    display: none;
    height: 100%;
    width: 100%;
    
}

.dis-flex{
    color: whitesmoke;
    font-size: 100px;
    font-weight: 500;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 600px;
    
}
.dis-flex img{
    height: 140px;
    width: 140px;
}