* {
  font-family: "MinecraftFont", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#window {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#window video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home-land-video {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.Flex-Centre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Flex-Col-Centre {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1189px) {
  #home-land-video {
    height: auto;
  }
  #home-land-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
  }
}

@font-face {
  font-family: "MinecraftFont";
  src: url("/assets/fonts/Minecrafter.Alt.ttf") format("truetype");
}
