.DirtGrass{
    background-image: url("https://i.pinimg.com/originals/78/b9/69/78b9699d96f18b8da617acb368682515.png");
}
.Dirt{
    background-image: url("/assets/textures/Dirt.jpeg");
}
.TreeLeaves{
    background-image: url("/assets/textures/TreeLeaves.jpeg");
}
.TreeWood{
    background-image: url("/assets/textures/TreeWood.jpeg");
}
.Stone{
    background-image: url("/assets/textures/Stone.jpeg");
}
.Sky{
    background-color: rgb(135, 206, 235);
}
.SnowSky{
    background-color: rgb(55, 98, 115);
}
.FrozenZombie{
    background-color: rgb(55, 98, 115);
    background-image: url("/assets/textures/FrozenZombie.webp");
}
.Cloud{
    background-color: white;
}
.Shield{
    background-image: url("/assets/textures/shield.png");
}
.Blossom{
    background-color: rgb(135, 206, 235);
    background-image: url("/assets/textures/spore_blossom.png");
}
.Melon{
    background-color: rgb(135, 206, 235);
    background-image: url("/assets/textures/melon.png");
}
.Fence{
    background-color: rgb(135, 206, 235);
    background-image: url("/assets/textures/acacia_fence.png");
}
.Bloom{
    
    background-image: url("https://ik.imagekit.io/AnasDweik/Minecraft/f54cdq10i1wuyeglnqsxmfny5rpdcxzp.webp?updatedAt=1693736940484");
}
.Sand{
    background-image: url(/assets/textures/Sand.png)
}
.Water{
    background-image: url(/assets/textures/Water.png)
}
.Carbon{
    background-image: url(/assets/textures/Carbon.png)
}
.Gold{
    background-image: url(/assets/textures/Gold.png)
}
.Diamond{
    background-image: url(/assets/textures/Diamond.png)
}
.RedDiamond{
    background-image: url(/assets/textures/RedDiamond.jpeg)
}
.Ore{
    background-image: url(/assets/textures/Ore.jpeg)
}
.Snow{
    background-image: url(/assets/textures/Snow2.png)
}
.BrownWood{
    background-image: url(/assets/textures/BrownWood.jpeg)
}
.PinkLeaves{
    background-color: rgb(253, 253, 253);
    background-image: url(/assets/textures/PinkLeaves.png)
}

.Cow{
    background-color: rgb(135, 206, 235);
    background-image: url("https://ik.imagekit.io/AnasDweik/Minecraft/Wooly_Cow.webp?updatedAt=1693737226108");
}
.BrownCow{
    background-color: rgb(135, 206, 235);

    background-image: url("https://ik.imagekit.io/AnasDweik/Minecraft/unnamed.png?updatedAt=1693737225713");
}
